<p>from search.component.html</p>
  <h2>Main (search)</h2>

<label class="priceLabel">
  Price
  <select>
    <option>---</option>
    <option *ngFor="let priceRange of priceRanges"
            value="{{ priceRange.id }}">
      {{ priceRange.low }} - {{ priceRange.high }}
    </option>
  </select>
</label>

<label>
  <input type="checkbox"/> Healthy?
</label>

<label>
  Speed:
  <select>
    <option>---</option>
    <option *ngFor="let speedOption of speedOptions"
            value="{{ speedOption.id }}">
      {{ speedOption.name }}
    </option>
  </select>
</label>

<button (click)="search()">Search</button>

<div>
  <h3>Search Results:</h3>
  <table>
    <tr>
      <td>{{ search_result.name | uppercase }}</td>
      <td>
        <div>{{ search_result.address_line1 }}</div>
        <div>{{ search_result.address_line2 }}</div>
      </td>
    </tr>
  </table>
</div>
